In [1]:
import pandas as pd
artist = pd.read_csv('artist.txt', delimiter = '\t', header = None)

In [2]:
artist.shape

(1356202, 19)

In [3]:
artist.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,805192,8972b1c1-6482-4750-b51f-596d2edea8b1,WIK▲N,WIK▲N,\N,\N,\N,\N,\N,\N,\N,\N,\N,NaN,0,2011-05-17 01:22:02.558151+00,f,\N,\N
1,371203,49add228-eac5-4de8-836c-d75cde7369c3,Pete Moutso,"Moutso, Pete",\N,\N,\N,\N,\N,\N,1,\N,\N,NaN,0,\N,f,\N,\N
2,273232,c112a400-af49-4665-8bba-741531d962a1,Zachary,Zachary,\N,\N,\N,\N,\N,\N,\N,\N,\N,NaN,0,\N,f,\N,\N
3,101060,ca3f3ee1-c4a7-4bac-a16a-0b888a396c6b,The Silhouettes,"Silhouettes, The",1956,\N,\N,1993,\N,\N,2,222,\N,"US doo wop/R&B group ""Get a Job""",0,2014-12-18 05:07:38.77749+00,t,7707,\N
4,145773,7b4a548e-a01a-49b7-82e7-b49efeb9732c,Aric Leavitt,"Leavitt, Aric",\N,\N,\N,\N,\N,\N,\N,\N,\N,NaN,0,\N,f,\N,\N

In [4]:
artist.columns = ['pkID', 'MBID', 'Artist', '3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18']

In [5]:
artist.head()

,pkID,MBID,Artist,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,805192,8972b1c1-6482-4750-b51f-596d2edea8b1,WIK▲N,WIK▲N,\N,\N,\N,\N,\N,\N,\N,\N,\N,NaN,0,2011-05-17 01:22:02.558151+00,f,\N,\N
1,371203,49add228-eac5-4de8-836c-d75cde7369c3,Pete Moutso,"Moutso, Pete",\N,\N,\N,\N,\N,\N,1,\N,\N,NaN,0,\N,f,\N,\N
2,273232,c112a400-af49-4665-8bba-741531d962a1,Zachary,Zachary,\N,\N,\N,\N,\N,\N,\N,\N,\N,NaN,0,\N,f,\N,\N
3,101060,ca3f3ee1-c4a7-4bac-a16a-0b888a396c6b,The Silhouettes,"Silhouettes, The",1956,\N,\N,1993,\N,\N,2,222,\N,"US doo wop/R&B group ""Get a Job""",0,2014-12-18 05:07:38.77749+00,t,7707,\N
4,145773,7b4a548e-a01a-49b7-82e7-b49efeb9732c,Aric Leavitt,"Leavitt, Aric",\N,\N,\N,\N,\N,\N,\N,\N,\N,NaN,0,\N,f,\N,\N

In [6]:
artist_refined = artist[['pkID','MBID', 'Artist']]

In [7]:
artist_refined.head()

     pkID                                  MBID           Artist
0  805192  8972b1c1-6482-4750-b51f-596d2edea8b1            WIK▲N
1  371203  49add228-eac5-4de8-836c-d75cde7369c3      Pete Moutso
2  273232  c112a400-af49-4665-8bba-741531d962a1          Zachary
3  101060  ca3f3ee1-c4a7-4bac-a16a-0b888a396c6b  The Silhouettes
4  145773  7b4a548e-a01a-49b7-82e7-b49efeb9732c     Aric Leavitt

In [8]:
artist_refined.to_csv('artist_refined.csv', sep = '\t', index = False)

In [9]:
text = pd.read_csv('artist_refined.csv', delimiter = '\t')

In [10]:
text.shape

(1356202, 3)